/* Alapstílusok */
body {
  background-color: #1a1a1a;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0 20px 20px 20px;
  height: 110vh;
  width: 99vw;
  background: linear-gradient(
    0deg,
    rgba(8, 11, 82, 1) 5%,
    rgba(0, 178, 255, 1) 100%
  );
}

.cim {
  color: white;
  font-size: 40px;
  font-family: "Pixelify Sans";
  text-shadow: 5px 3px #000000;
}

/* Felhasználói info */
.user-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 800;
  color: #ffffff;
}

/* Játékok listája */
.game-list {
  margin-top: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  margin: 10px;
}

a:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

img {
  border-radius: 15px;
  border: 1px solid #000000;
  transition: border-color 0.3s ease;
}

/* Reszponzivitás */
@media (max-width: 768px) {
  .user-info,
  .game-area {
    padding: 10px;
  }

  img {
    width: 150px;
    height: 150px;
  }

  .points-display {
    font-size: 1.2em;
  }

  a {
    margin: 5px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
