body {
  font-family: "Pacifico";
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

canvas {
  border: 1x solid #0a3cda;
  margin: 10px;
}

.score-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.score-label, .score-label span{
  font-size: 25pt;
  text-align: end;
}
