body {
  font-family: "Pacifico";
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

canvas {
  border: 1x solid #0a3cda;
  margin: 10px;
}

.BackBtn i {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  font-size: 40px;
  margin: 10px;
}
#HUD {
  display: flex;
  color: white;
  z-index: 999;
  font-family: Arial;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: center;
}
